.programs {
    height: 310px;
    background-image: url(../images/program/program_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000000;
}

.programs h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

.programs h1::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.programs-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.programs-list li {
    flex-shrink: 0;
    width: 500px;
    margin-left: 75px;
}

.programs-list img{
    border: solid 1px #000000;
}

@media (max-width: 800px) {
    .programs-list {
        padding-left: 40px;
        padding-right: 40px;
    }

    .programs-list li {
        width: 600px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
}